html {
    background: url("/images/cedar-branch.jpeg");
    background-size: cover;
}
body{
    width: 100vw;
    height: 100vh;
}
header {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
    color: black;
}
h1{
    margin:auto;
    padding: 0;
    color: white;
}
main {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
th, td {
    border: .5px solid #70bdfa;
    text-align: center;
}

#scorecard {
    grid-area: 1 / 1 / 5 / 3;
    margin: 0px 75px 0px 100px;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: .5px solid #70bdfa;
}

#dice {
    grid-area: 2 / 3 / 3 / 5;
}

#roll {
    grid-area: 3 / 3 / 4 / 5;
    border-radius: 25px;
    width: 200px;
    height: 100px;
}

#reRoll {
    grid-area: 3 / 3 / 4 / 4;
    border-radius: 25px;
    width: 250px;
    height: 100px;
}

#endTurnBut {
    grid-area: 3 / 4 / 4 / 5;
    border-radius: 25px;
    width: 250px;
    height: 100px;
}

input {
    border: none;
    /* cursor: url('images/pencil-cursor.png'); */
    
}

img {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 25px;
} 







