html {
    background-color: ;
}

h1 {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 65px;
    color:#4d3e39
    
}

table {
    /* background-color: #4d3e39; */
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace;
}

th, td, input {
    /* background-color: palegoldenrod; */
    
}

table, th, td {
    border: .5px solid #70bdfa;
    text-align: center;
}

input {
    border: none;
    /* cursor: url('images/pencil-cursor.png'); */
    
}

main {
    display: inline-grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

img {
    width: 75px;
    height: 75px;
    justify-content: space-between;
    border-radius: 25px;
} 

#scorecard {
    grid-area: 1 / 1 / 5 / 3;
}

#dice {
    grid-area: 2 / 4 / 3 / 6;
}

#roll {
    grid-area: 3 / 4 / 4 / 6;
    border-radius: 25px;
}

#reRoll {
    grid-area: 3 / 4 / 4 / 5;
}

#endTurnBut {
    grid-area: 3 / 5 / 4 / 6;
}





